[Unit]
Description=Run Arch system maintenance script

[Service]
Type=oneshot
ExecStart=/usr/bin/sysm
User=root
PrivateTmp=yes
ProtectHome=yes

[Install]
WantedBy=timers.target